# System
.DS_Store

# IDE
.idea
*.code-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# This project
.vite-ssg-dist
.vite-ssg-temp
*.crx
*.local
*.pem
*.xpi
*.zip

dist
dist-ssr

src/auto-imports.d.ts
src/components.d.ts
